/* レイアウト ヘッダ部の設定 */
table.title{
  background-color	: #FFFACD;
}

table.titleline{
  background-color	: #FFBB00;
}
/* メニューバー部 プルダウンの設定 */
table.menu_pulldown{
  background-color	: #FFEE99;
  border-color       : #FFFFFF;
}
/* メニューバー部 プルダウンの設定 */
table.regist_menu_pulldown{
  background-color	: #ffcc66;
  border-color       : #FFFFFF;
}

/* メニューバー部 プルダウンレイヤーの設定 */
table.menu_pulldown_layer{
  background-color	 : #FFFFCC;
}

/* メニューバー部 プルダウン リンクの設定 */
table.menu_pulldown tr th , table.regist_menu_pulldown tr th {
  color               : #CC6600;
}

/* メニューバー部 プルダウンレイヤー リンクの設定 */
table.menu_pulldown_layer tr td{
  color               : black;
}

/* メニューバー部 選択されたセルの設定 */
.menu_selected_cell{
  background-color	: #FFCCAA;
}

/* メニューバー部 現在のメニューセルの設定 */
th.menu_current_cell{
  background-color	: #FFCCAA;
}

.title tr th a{
  color              :#CC6600;
}
a, .link_feild{
  color              : black;
}

