<html xmlns:m="http://www.seasar.org/maya" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-31j" />
<meta http-equiv="Content-Style-Type" content="text/css">
<link rel="stylesheet" type="text/css" href="#{request.contextPath}/css/#{birdUserInfo.browserType}/body.css?#{headerDto.loginTime}"/>
<title></title>
</head>

<body>
<form m:id="addMyMenuForm">
<input type="hidden" m:id="targetMyMenuViewId" m:value="#{portalTopDto.targetMyMenuViewId}"/>
<a m:id="addMyMenuAction" m:action="#{portalTopAction.addMyMenu}"/>
</form>
<form m:id="changeMenuForm">
<input type="hidden" m:id="changeMenuPtn" m:value="#{pullDownMenuDto.menuDispPtn}"/>
<a m:id="changeMenu" m:action="#{menuAction.changeMenu}"/>
</form>
</body>
</html>