<html xmlns:m="http://www.seasar.org/maya">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-31j" />
<title>Logging</title>
</head>
<body>
<span m:inject="f:param" m:name="layoutTitle" m:value="SystemErrorSample"/>
<span m:inject="s:insert" m:name="body">
<form m:id="top">
<span m:inject="h:messages" m:globalOnly="false" m:showDetail="true"/>
<center>
<br>
<br>
<br>
<br>
<h2>操作 エラー</h2><br>
<h4>同時に複数の画面を立ち上げてデータを入力することはできません。</h4>
<br>
<br>
<a href="javascript:window.close();">閉じる</a>
</center>
</form>
</span>
</body>
</html>