<html xmlns:m="http://www.seasar.org/maya">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-31j" />
<meta http-equiv="Content-Style-Type" content="text/css">
</head>
<body>
<span m:inject="s:insert">
<script language="javascript">
<!--
function callScreen(showViewId, screenId, menuId, subMenuId, menuDispKbn, linkId) {
  if (menuDispKbn == '2' || menuDispKbn == '3') {
    document.pulldownForm.elements[':isUseCommonDto'].value = '1';
	document.pulldownForm.elements['pulldownForm:linkId'].value=linkId;
	document.pulldownForm.elements['pulldownForm:__link_clicked__'].value='pulldownForm:selectOutMenu';
	document.pulldownForm.target = "_blank";
	document.pulldownForm.submit();
  }
  else {
	document.pulldownForm.elements['pulldownForm:initViewId'].value=showViewId;
	document.pulldownForm.elements['pulldownForm:initMenuId'].value=menuId;
	document.pulldownForm.elements['pulldownForm:initSubMenuId'].value=subMenuId;
	document.pulldownForm.showViewId.value=showViewId;
	document.pulldownForm.selectedViewId.value=screenId;
	document.pulldownForm.elements['pulldownForm:__link_clicked__'].value='pulldownForm:selectMenu';
	document.pulldownForm.target = "_self";
	document.pulldownForm.submit();
  }
  return false;
}
//-->
</script>

<form m:id="pulldownForm" class="element_browser">
<input type="hidden" m:id="viewId" m:value="#{viewIdValue}" />
<input type="hidden" m:id="initViewId" m:value="#{menuAction.initViewId}"/>
<input type="hidden" m:id="initMenuId" m:value="#{menuAction.initMenuId}"/>
<input type="hidden" m:id="initSubMenuId" m:value="#{menuAction.initSubMenuId}"/>
<input type="hidden" name="showViewId" m:value="" m:passthrough="true"/>
<input type="hidden" name="selectedViewId" m:value="" m:passthrough="true"/>
<input type="hidden" m:id="linkId" m:value="#{commonOutLinkDto.linkId}"/>
<input type="hidden" m:name=":isUseCommonDto" m:value="0" m:passthrough="true"/>
<a id="selectMenu" m:action="#{menuAction.selectMenu}"/>
<a id="selectOutMenu" m:action="#{outLinkAction.linkUp}"/>
<!-- ■■■■ プルダウン部 ■■■■ -->
<span m:inject="s:forEach" m:items="#{pullDownMenuDto.menu1st}" m:var="e" m:varIndex="i">
  <div m:class="#{e.viewId}" style="position:absolute;top:0px; visibility: hidden">
    <table class="menu_pulldown_layer" cellspacing="0" cellpadding="0">
      <span m:inject="s:forEach" m:items="#{e.subMenuList}" m:var="e2">
        <tr m:rendered="#{e2.menuDispKbn != '0'}">
          <td class="#{e2.viewId}" style="white-space: nowrap;"
          onMouseOver="subMenuOver(this, '#{e.viewId}');"
          onMouseOut="subMenuOut(this,'#{e.viewId}', '#{e2.viewId}');"
          onClick="callScreen('#{e2.initViewId}', '#{e2.viewId}', '#{e2.menuId}', '#{e2.subMenuId}', '#{e2.menuDispKbn}', '#{e2.param}');"
          onDblClick="return false;"><span m:value="#{e2.subMenuName}" m:converter="#{characterEncodingConverter}"/></td>
        </tr>
      </span>
    </table>
  </div>
</span>

<span m:inject="s:forEach" m:items="#{pullDownMenuDto.menu2nd}" m:var="e" m:varIndex="i">
  <div m:class="#{e.viewId}" style="position:absolute;top:0px; visibility: hidden">
    <table class="menu_pulldown_layer" cellspacing="0" cellpadding="0">
      <span m:inject="s:forEach" m:items="#{e.subMenuList}" m:var="e2">
        <tr m:rendered="#{e2.menuDispKbn != '0'}">
          <td class="#{e2.viewId}" style="white-space: nowrap;"
          onMouseOver="subMenuOver(this, '#{e.viewId}');"
          onMouseOut="subMenuOut(this,'#{e.viewId}', '#{e2.viewId}');"
          onClick="callScreen('#{e2.initViewId}', '#{e2.viewId}', '#{e2.menuId}', '#{e2.subMenuId}', '#{e2.menuDispKbn}', '#{e2.param}');"
          onDblClick="return false;"><span m:value="#{e2.subMenuName}" m:converter="#{characterEncodingConverter}"/></td>
        </tr>
      </span>
    </table>
  </div>
</span>

<span m:inject="s:forEach" m:items="#{pullDownMenuDto.registMenu1st}" m:var="e" m:varIndex="i">
  <div m:class="#{e.viewId}" style="position:absolute;top:0px; visibility: hidden">
    <table class="menu_pulldown_layer" cellspacing="0" cellpadding="0">
      <span m:inject="s:forEach" m:items="#{e.subMenuList}" m:var="e2">
        <tr m:rendered="#{e2.menuDispKbn != '0'}">
          <td class="#{e2.viewId}"
          onMouseOver="subMenuOver(this, '#{e.viewId}');"
          onMouseOut="subMenuOut(this,'#{e.viewId}', '#{e2.viewId}');"
          onClick="callScreen('#{e2.initViewId}', '#{e2.viewId}', '#{e2.menuId}', '#{e2.subMenuId}', '#{e2.menuDispKbn}', '#{e2.param}');"
          onDblClick="return false;"><span m:value="#{e2.subMenuName}" m:converter="#{characterEncodingConverter}" /></td>
        </tr>
      </span>
    </table>
  </div>
</span>

<span m:inject="s:forEach" m:items="#{pullDownMenuDto.registMenu2nd}" m:var="e" m:varIndex="i">
  <div m:class="#{e.viewId}" style="position:absolute;top:0px; visibility: hidden">
    <table class="menu_pulldown_layer" cellspacing="0" cellpadding="0">
      <span m:inject="s:forEach" m:items="#{e.subMenuList}" m:var="e2">
        <tr m:rendered="#{e2.menuDispKbn != '0'}">
          <td class="#{e2.viewId}"
          onMouseOver="subMenuOver(this, '#{e.viewId}');"
          onMouseOut="subMenuOut(this,'#{e.viewId}', '#{e2.viewId}');"
          onClick="callScreen('#{e2.initViewId}', '#{e2.viewId}', '#{e2.menuId}', '#{e2.subMenuId}', '#{e2.menuDispKbn}', '#{e2.param}');"
          onDblClick="return false;"><span m:value="#{e2.subMenuName}" m:converter="#{characterEncodingConverter}"/></td>
        </tr>
      </span>
    </table>
  </div>
</span>
</form>
</span>
</body>
</html>