<html xmlns:m="http://www.seasar.org/maya">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-31j" />
<title>NoSession</title>
</head>
<body>
<span m:inject="f:param" m:name="layoutTitle" m:value="SystemErrorSample"/>
<span m:inject="s:insert" m:name="body">
<span m:inject="h:messages" m:globalOnly="false" m:showDetail="true"/>
<center>
<br>
<br>
<br>
<br>
<div align="center" valign="middle" style="line-height:18px;">
  <font style="font-weight:bold;color:red;">ログインしていないか、前回アクセスから時間が経っています。再度ログインして下さい。</font>
</div>
<h4>ブラウザを閉じてください。</h4>
<br>
<br>

</center>
</span>
</body>
</html>