/* ボディタイトルの設定 */
.body_title{
  width					: 100%;
  font-size			: medium;
  color					: white;
  background-color	: navy;
  text-align			: left;
}
/* 見出しの設定 */
.body_caption{
  color              : white;
  background-color   : navy;
  text-align         : left;
}
/* テーブルヘッダデフォルト設定 パターン１*/
table.body_table tr th{
  background-color      : #0000C0;
}

/* テーブルヘッダデフォルト設定 パターン２*/
/* ★★★統合予定★★★ */
table.body_table2 tr th , table.body_table tr th.body_header3{
  color                 : navy;
  background-color      : #C0E0FF;
}

/* 項目ヘッダ４の設定（デフォルトヘッダ色変更用） */
table.body_table2 tr th.body_header4{
  color                 : white;
  background-color      : #0000C0;
  text-align            : center;
}
/* 水平方向ヘッダ追加設定 */
table tr.header_row th {
	text-align			: center;
}
/* 見出しの設定 */
.body_caption1, table.body_table2 tr.body_caption1 td{
  background-color   : #0000C0;
}

/* 総合営業日報・タブの設定 */
.tab_area {
  background-color      : #0099CC;
}

/* リンクの設定 */
a.body_non_selected_link{
  text-decoration       : none;
  font-weight           : bold;
  color                 : navy;
}

/* 選択(アクティブ)の設定 */
.body_active_cell{
  background-color      : navy;
}

/* 非選択(非アクティブ)の設定 */
.body_non_active_cell{
  color                 : navy;
}
/* タブ選択(アクティブ)の設定 */
.body_active_tab{
  background-color		: #0099CC;
}
.body_non_active_cell a{
  color						: navy;
}
.togocolor {
    color               : white;
    background-color    : #0099CC;
    height              : 100%;
    text-decoration     : none;
    font-weight         : bold;
}

.visitelink a:link {

}
.visitelink a:visited {
  color                 : dimgray;
}
.visitelink a:hover {

}
.visitelink a:active {
  color                 : dimgray;
}