/* ボディタイトルの設定 */
.body_title{
  width					: 100%;
  font-size			: medium;
  color					: white;
  background-color	: #48D1CC;
  text-align			: left;
}

/* ボディエラーメッセージの設定 */
.body_error_massage{
  color					: red;
  font-weight           : 100;
}

/* 見出しの設定 */
.body_caption{
  color                 : white;
  background-color      : #48D1CC;
  text-align            : left;
}
/* 見出しの設定 */
.body_caption1, table.body_table2 tr.body_caption1 td{
  color              : white;
  background-color   : #66CDAA;
  font-weight        : bold;
  border-width       :1px 0px;
}
caption {
	padding:1px 0px;
}
/* フィールドの設定 */
.body_field{
  background-color      : #FFFFCC;
}
/* テーブルの設定
 * IEの場合border-spacingは使えないので
 * 代わりにborder-collapse:collapse; を指定し
 * tdにはpadding : 0; を指定します。
 */
table.hiddenBody{
  border-style          : solid;
  border-width          : 0px;
  border-collapse       : collapse;
  border-spacing        : 0px;
  padding               : 0;
}
/* テーブルの設定 */
table.hiddenBody tr{
  border-collapse       : collapse;
  border-spacing        : 0px;
  border-width          : 0px;
  padding               : 0;
}
/* テーブルの設定
 * IEの場合border-spacingは使えないので
 * padding : 0; を指定します。
 */
table.hiddenBody tr th {
  padding               : 0;
  border-spacing        : 0px;
  border                : 0px solid #808080;
}
/* テーブルの設定
 * IEの場合border-spacingは使えないので
 * padding : 0; を指定します。
 */
table.hiddenBody tr td {
  padding               : 0;
  border-spacing        : 0px;
  border                : 0px solid #808080;
}


/* フィールドテーブルの設定 */
table.body_table_field{
  width                 : 97%;
  border-style          : solid;
  border-width          : 2px;
  border-top-width      : 0px;
  border-collapse       : collapse;
  background-color      : #FFFFCC;
}
/* テーブル枠の設定 */
/* ★★★統合予定★★★ */
table.body_table, table.body_table1, table.body_table2{
  border-style          : solid;
  border-width          : 2px;
  border-collapse       : collapse;
  border-color          : #808080 #808080 #808080 #808080;
}

/* テーブルヘッダデフォルト設定 パターン１*/
table.body_table tr th, table.body_table tr td, table.body_table2 tr th, table.body_table2 tr td{
  border                : 1px solid #808080;
  padding               : 1px;
}
/* テーブルヘッダデフォルト設定 パターン１*/
table.body_table tr th{
  color                 : white;
  background-color      : #66CDAA;
  text-align            : left;
}
.button_in_table{
	margin-left:3px;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
}

/* テーブルヘッダデフォルト設定 パターン２*/
/* ★★★統合予定★★★ */
table.body_table2 tr th , table.body_table tr th.body_header3{
  color                 : #483D8B;
  background-color      : #AFEEEE;
  text-align            : left;
}
/* テーブルフィールドデフォルト設定 */
/* ★★★統合予定★★★ */
table.body_table tr td, table.body_table2 tr td{
  background-color      : #FFFFCC;
}


/* 水平方向ヘッダ追加設定 */
table tr.header_row th {
	text-align			: center;
}

/* リンクの設定 */
a.body_selected_link{
  text-decoration       : none;
  font-weight           : bold;
  color                 : white;
}

/* リンクの設定 */
a.body_link1{
  color                 : white;
}
/* 選択(アクティブ)の設定 */
.body_active_cell{
  color                 : white;
  background-color      : #66CDAA;
  text-align            : center;
  border-top            : outset 3px #dcdcdc;
  border-right          : outset 3px #c0c0c0;
  text-decoration       : none;
  font-weight           : bold;
  padding-top           : 2px;
}

/* 非選択(非アクティブ)の設定 */
.body_non_active_cell{
  color                 : #000000;
  background-color      : #C0C0C0;
  text-align            : center;
  border-top            : solid 3px #dcdcdc;
  border-right          : solid 3px #808080;
  text-decoration       : none;
  font-weight           : bold;
  padding-top            : 2px;
}

/* タブ非選択(非アクティブ)の設定 */
.body_non_active_tab{
  color						: black;
  background-color		: #C0C0C0;
  text-align				: center;
  border-top            : solid 3px #dcdcdc;
  border-right          : solid 3px #808080;
  text-decoration			: none;
  font-weight				: bold;
  padding-top            : 2px;

}
/* タブ選択(アクティブ)の設定 */
.body_active_tab{
  color						: white;
  background-color		: #48D1CC;
  text-align				: center;
  border-width				: 3px;
  border-top            : outset 3px #dcdcdc;
  border-right          : outset 3px #c0c0c0;
  text-decoration			: none;
  font-weight				: bold;
  padding-top            : 2px;
}
/* タブ非選択(非アクティブ)の設定 */
.body_active_cell a, .body_active_tab a{
  color						: #FFFFFF;
  text-decoration			: none;
}
.body_non_active_cell a{
  color						: black;
  text-decoration			: none;
}
/* タブ非選択(非アクティブ)の設定 */
.body_non_active_tab a{
  color						: black;
  text-decoration			: none;
}
/* ulを使用したタブエリア */
.list_tab_area {
    width               : 100%;
    margin              : 0px;
    padding             : 0px;
}
/* ulを使用したタブ */
li.body_active_cell, li.body_non_active_cell, li.body_active_tab, li.body_non_active_tab {
    list-style-type     : none;
	float:left;
}

/* 表：合計欄表示（タイプ１） */
.body_sum1, table tr.body_sum1 td{
  background-color      : #FFD2E9;
}

/* 表：合計欄表示（タイプ２） */
.body_sum2, table tr.body_sum2 td{
  background-color      : #C0C0FF;
}

/* 表：合計欄表示（タイプ３） */
.body_sum3, table tr.body_sum3 td{
  background-color      : #C0FFFF;
}

/* 表：合計欄表示（タイプ４） */
.body_sum4, table tr.body_sum4 td{
  background-color      : #CCFF99;
}

/* 表：合計欄表示（タイプ５） */
.body_sum5, table tr.body_sum5 td{
  background-color      : #FFC0A0;
}

/* 表：数値項目表示 */
.body_num{
  text-align            : right;
  vertical-align        : middle;
}

/* 表：比率項目表示 */
.body_hiritu{
  color                 : red;
  text-align            : right;
  vertical-align        : middle;
}

/* 表：数値項目表示(背景色：緑) */
table.body_table tr td.body_num_n, table.body_table2 tr td.body_num_n{
  background-color      : #C0FFC0;
  color                 : black;
  text-align            : right;
}

/* 表：比率項目表示(背景色：緑) */
table.body_table tr td.body_hiritu_m, table.body_table2 tr td.body_hiritu_m{
  background-color      : #C0FFC0;
  color                 : red;
  text-align            : right;
}
table.body_table2 tr.non_top_border th, table.body_table2 tr.non_top_border td {
	border-top-width : 0px;
}
/* スクロール画面表示 */
.scroll_area {
	overflow			   : auto;
}
/* レイアウトでは不可視(目には見えません)
 * 100%幅のスクロール画面のタイトル部に設置
 * 設置を行わないとタイトル部とデータ部のセル幅が合わなくなる可能性があります。 */
.scroll_hidden, .scroll_standby {
	width:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color : #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;

}
/*
 * 100%幅のスクロール画面
 *
 * このクラスを宣言したdivに高さの指定をせず、
 * js/bird.jsのloadScroll(divId, maxHeight)をonLoad時に呼び出すと、
 * 高さ上限値以上の場合のみスクロールが有効になります。
 * それ以外は無効で表示されます。
 */
.scroll_complete, .scroll_area_100 {
	width:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}
.element_print {
    display:none;
}
/* 選択されたタブの表示設定 */
.visible_tab {
	display			   : inline;
}
/* 選択されていないタブの表示設定 */
.invisible_tab {
	display			   : none;
}
