/* レイアウト ヘッダ部の設定 */
table.title{
  background-color	: #ccffcc;
}

table.titleline{
  background-color	: #228B22;
}

/* メニューバー部 プルダウンの設定 */
table.menu_pulldown{
  background-color	: #90DD90;
}
/* メニューバー部 プルダウンの設定 */
table.regist_menu_pulldown{
  background-color	: #93ca76;
}

/* メニューバー部 プルダウンレイヤーの設定 */
table.menu_pulldown_layer{
  background-color	   : #FFFFCC;
}

/* メニューバー部 プルダウン リンクの設定 */
table.menu_pulldown tr th , table.regist_menu_pulldown tr th {
  color                 : #333300;
}
/* メニューバー部 プルダウンレイヤー リンクの設定 */
table.menu_pulldown_layer tr td{
  color                 : black;
}

/* メニューバー部 選択されたセルの設定 */
.menu_selected_cell{
  background-color		: #EEFF99;
}

/* メニューバー部 現在のメニューセルの設定 */
th.menu_current_cell{
  background-color		: #EEFF99;
}

.title tr th a{
  color                 :green;
}
a, .link_feild{
  color                 : black;
}
