/* レイアウト ヘッダ部の設定 */
table.title{
  background-color	: #C0E0F0;
}

table.titleline{
  background-color	: #0000C0;
}

/* メニューバー部 プルダウンの設定 */
table.menu_pulldown{
  background-color	: #B0D0E0;
}
/* メニューバー部 プルダウンの設定 */
table.regist_menu_pulldown{
  background-color	: #BCBCDD;
}

/* メニューバー部 プルダウンレイヤーの設定 */
table.menu_pulldown_layer{
  background-color	   : #FFFFCC;
}

/* メニューバー部 プルダウン リンクの設定 */
table.menu_pulldown tr th , table.regist_menu_pulldown tr th {
  color                 : #0000A0;
}
/* メニューバー部 プルダウンレイヤー リンクの設定 */
table.menu_pulldown_layer tr td{
  color                 : blue;
}

/* メニューバー部 選択されたセルの設定 */
.menu_selected_cell{
  background-color		: #FFCCAA;
}

/* メニューバー部 現在のメニューセルの設定 */
th.menu_current_cell{
  background-color		: #FFCCAA;
}

a, .link_feild{
  color                 : blue;
}

