/* ボディタイトルの設定 */
.body_title{
  width					: 100%;
  font-size			: medium;
  color					: white;
  background-color	: #48D1CC;
  text-align			: left;
}

/* ボディエラーメッセージの設定 */
.body_error_massage{
  color					: red;
  font-weight           : 100;
}

/* 見出しの設定 */
.body_caption{
  color                 : white;
  background-color      : #48D1CC;
  text-align            : left;
}
/* 見出しの設定 */
.body_caption1, table.body_table2 tr.body_caption1 td{
  color              : white;
  background-color   : #66CDAA;
  font-weight        : bold;
  border-width       :1px 0px;
}
caption {
	padding:1px 0px;
}
/* フィールドの設定 */
.body_field{
  background-color      : #FFFFCC;
}
/* テーブルの設定
 * IEの場合border-spacingは使えないので
 * 代わりにborder-collapse:collapse; を指定し
 * tdにはpadding : 0; を指定します。
 */
table.hiddenBody{
  border-style          : solid;
  border-width          : 0px;

  border-spacing        : 0px;
  padding               : 0;
}
/* テーブルの設定 */
table.hiddenBody tr{
  border-spacing        : 0px;
  border-width          : 0px;
  padding               : 0;
}
/* テーブルの設定
 * IEの場合border-spacingは使えないので
 * padding : 0; を指定します。
 */
table.hiddenBody tr th {
  padding               : 0;
  border-spacing        : 0px;
  border                : 0px solid #808080;
}
/* テーブルの設定
 * IEの場合border-spacingは使えないので
 * padding : 0; を指定します。
 */
table.hiddenBody tr td {
  padding               : 0;
  border-spacing        : 0px;
  border                : 0px solid #808080;
}


/* フィールドテーブルの設定 */
table.body_table_field{
  width                 : 97%;
  border-style          : solid;
  border-width          : 2px;
  border-top-width      : 0px;

  background-color      : #FFFFCC;
}
/* テーブル枠の設定 */
/* ★★★統合予定★★★ */
table.body_table, table.body_table1, table.body_table2{
  border-style          : solid;
  border-collapse: separate;
  border-spacing:0px;
  border-color          : #808080 #808080 #808080 #808080;
  border-top: 2px solid #808080;
  border-right:1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 2px solid #808080;
}

/* テーブルヘッダデフォルト設定 パターン１*/
table.body_table tr th, table.body_table2 tr th{
  border-top: 0px solid #808080;
  border-right:1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 0px solid #808080;
  padding               : 1px;
}
table.body_table tr td,table.body_table2 tr td{
  border-top: 0px solid #808080;
  border-right:1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 0px solid #808080;
  padding               : 1px;
}
/* テーブルヘッダデフォルト設定 パターン１*/
table.body_table tr th{
  color                 : white;
  background-color      : #66CDAA;
  text-align            : left;
}
table.body_table_spe_hyoji  {
	background-color: white;
	text-align: left;
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-collapse: separate;
    border-spacing:0px;
	border-color: #808080 #808080 #808080 #808080;
	border-top: 1px solid #808080;
	border-right: 2px solid #808080;
	border-bottom: 1px solid #808080;
	border-left: 2px solid #808080;
}

table.body_table_spe_hyoji tr td.spe_hyoji_t{
  font-weight			: bold;
  border-style          : solid;
  border-width          : 1px;
  border-color          : #808080 #808080 #808080 #808080;
  border-top: 0px solid #808080;
  border-right:0px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
}
table.torihiki_table{
  border-style: solid;
  border-width          : 2px;
  border-collapse: separate;
  border-spacing:0px;
  border-color          : #808080;
  border-top: 1px solid #808080;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 2px solid #808080;
}
table.torihiki_table th{
  color                 : white;
  background-color      : #0000C0;
  text-align            : left;
  border-width           : 1px;
  border-style          : solid;
  border-color          : #808080;
  border-bottom-width   :0px;
}
table.torihiki_table tr{
  background-color      : #C0E0FF;
  border-width          : 1px;
  border-style          : solid;
  border-color          :#808080;
  border-bottom-width   :0px;

}
table.torihiki_table td{
  background-color      : #FFFFCC;
  border-width          : 1px;
  border-style          : solid;
  border-color          :#808080;
  border-bottom-width   :0px;
}
table.this_table{
  border-style          : solid;
  border-width          : 2px;
  border-collapse       : separate;
  border-spacing        : 0px;
  border-color          : #808080 #808080 #808080 #808080;
  border-top            : 1px solid #808080;
  border-right          : 2px solid #808080;
  border-bottom         : 1px solid #808080;
  border-left           : 1px solid #808080;
}
table.this_table tr th{
  color                 : navy;
  background-color      : #C0E0FF;
  text-align            : center;
  border                : 1px solid;
  border-color          : #808080;
  border-bottom-width   : 0px;
  border-right          : 0px;
}
table.this_table tr td{
  background-color      : #FFFFCC;
  border                : 1px solid;
  border-color          : #808080;
  border-bottom-width   : 0px;
  border-right          : 0px;
}
/* テーブル枠の設定 */
/* ★★★統合予定★★★ */
table.entry_table{
  width				    : 100%;
  border-style          : solid;
  border-width          : 2px;
  border-collapse       : separate;
  border-spacing        : 0px;
  border-color          : #808080 #808080 #808080 #808080;
  border-top            : 1px solid #808080;
  border-right          : 2px solid #808080;
  border-bottom         : 2px solid #808080;
  border-left           : 1px solid #808080;
  margin-top:3px;
  margin-bottom:4px;

}
table.entry_table tr th {
  color                 : navy;
  background-color      : #C0E0FF;
  text-align            : center;
  border-style          : solid;
  border-width          : 1px ;
  border-color          : #808080;
  border-bottom-width   : 0px;
  border-right          : 0px;
}
/* テーブルフィールドデフォルト設定 */
/* ★★★統合予定★★★ */
table.entry_table tr td{
  background-color      : #FFFFCC;
  border-style       : solid;
  border-width          : 1px ;
  border-color           : #808080;
  border-bottom-width   : 0px;
  border-right          : 0px;
}
/* テーブル枠の設定 */
/* ★★★統合予定★★★ */
table.mine_table{
  border-style          : solid;
  border-width          : 2px;
  border-collapse       : separate;
  border-spacing        : 0px;
  border-color          : #808080 #808080 #808080 #808080;
  border-top            : 1px solid #808080;
  border-right          : 2px solid #808080;
  border-bottom         : 2px solid #808080;
  border-left           : 1px solid #808080;
}
table.mine_table tr th {
  color                 : navy;
  background-color      : #C0E0FF;
  text-align            : center;
  border-style          : solid;
  border-width          : 1px ;
  border-color          : #808080;
  border-bottom-width   : 0px;
  border-right          : 0px;
}
/* テーブルフィールドデフォルト設定 */
/* ★★★統合予定★★★ */
table.mine_table tr td{
  background-color      : #FFFFCC;
  border-style          : solid;
  border-width          : 1px ;
  border-color          : #808080;
  border-bottom-width   : 0px;
  border-right          : 0px;
}
table.data_table {
	font-size: small;
	border-style: solid;
	border-width: 2px;
	border-collapse: separate;
	border-spacing: 0px;
	border-color: #808080 #808080 #808080 #808080;
	border-top: 1px solid #808080;
	border-right: 2px solid #808080;
	border-bottom: 2px solid #808080;
	border-left           : 1px solid #808080;
}

table.data_table tr td {
	border: 1px solid #808080;
	vertical-align: middle;
    border-bottom-width   : 0px;
    border-right          : 0px;
}
.button_in_table{
	margin-left:3px;
	padding-top:0px;
	padding-bottom:0px;
	height:23px;
}

/* テーブルヘッダデフォルト設定 パターン２*/
/* ★★★統合予定★★★ */
table.body_table2 tr th , table.body_table tr th.body_header3{
  color                 : #483D8B;
  background-color      : #AFEEEE;
  text-align            : left;
}
/* テーブルフィールドデフォルト設定 */
/* ★★★統合予定★★★ */
table.body_table tr td, table.body_table2 tr td{
  background-color      : #FFFFCC;
}


/* 水平方向ヘッダ追加設定 */
table tr.header_row th {
	text-align			: center;
}

/* リンクの設定 */
a.body_selected_link{
  text-decoration       : none;
  font-weight           : bold;
  color                 : white;
}

/* リンクの設定 */
a.body_link1{
  color                 : white;
}
/* 選択(アクティブ)の設定 */
.body_active_cell{
  color                 : white;
  background-color      : #66CDAA;
  text-align            : center;
  border-top            : outset 3px #dcdcdc;
  border-right          : outset 3px #c0c0c0;
  text-decoration       : none;
  font-weight           : bold;
  padding-top           : 2px;
}

/* 非選択(非アクティブ)の設定 */
.body_non_active_cell{
  color                 : #000000;
  background-color      : #C0C0C0;
  text-align            : center;
  border-top            : solid 3px #dcdcdc;
  border-right          : solid 3px #808080;
  text-decoration       : none;
  font-weight           : bold;
  padding-top            : 2px;
}

/* タブ非選択(非アクティブ)の設定 */
.body_non_active_tab{
  color						: black;
  background-color		: #C0C0C0;
  text-align				: center;
  border-top            : solid 3px #dcdcdc;
  border-right          : solid 3px #808080;
  text-decoration			: none;
  font-weight				: bold;
  padding-top            : 2px;

}
/* タブ選択(アクティブ)の設定 */
.body_active_tab{
  color						: white;
  background-color		: #48D1CC;
  text-align				: center;
  border-width				: 3px;
  border-top            : outset 3px #dcdcdc;
  border-right          : outset 3px #c0c0c0;
  text-decoration			: none;
  font-weight				: bold;
  padding-top            : 2px;
}
table.body_table2 tr td.border_topandbottom_width {
	border-bottom-width:1px;
}
/* タブ非選択(非アクティブ)の設定 */
.body_active_cell a, .body_active_tab a{
  color						: #FFFFFF;
  text-decoration			: none;
}
.body_non_active_cell a{
  color						: black;
  text-decoration			: none;
}
/* タブ非選択(非アクティブ)の設定 */
.body_non_active_tab a{
  color						: black;
  text-decoration			: none;
}
/* ulを使用したタブエリア */
.list_tab_area {
    width               : 100%;
    margin              : 0px;
    padding             : 0px;
}
/* ulを使用したタブ */
li.body_active_cell, li.body_non_active_cell, li.body_active_tab, li.body_non_active_tab {
    list-style-type     : none;
	float:left;
}

/* 表：合計欄表示（タイプ１） */
.body_sum1, table tr.body_sum1 td{
  background-color      : #FFD2E9;
}

/* 表：合計欄表示（タイプ２） */
.body_sum2, table tr.body_sum2 td{
  background-color      : #C0C0FF;
}

/* 表：合計欄表示（タイプ３） */
.body_sum3, table tr.body_sum3 td{
  background-color      : #C0FFFF;
}

/* 表：合計欄表示（タイプ４） */
.body_sum4, table tr.body_sum4 td{
  background-color      : #CCFF99;
}

/* 表：合計欄表示（タイプ５） */
.body_sum5, table tr.body_sum5 td{
  background-color      : #FFC0A0;
}

/* 表：数値項目表示 */
.body_num{
  text-align            : right;
  vertical-align        : middle;
}

/* 表：比率項目表示 */
.body_hiritu{
  color                 : red;
  text-align            : right;
  vertical-align        : middle;
}

/* 表：数値項目表示(背景色：緑) */
table.body_table tr td.body_num_n, table.body_table2 tr td.body_num_n{
  background-color      : #C0FFC0;
  color                 : black;
  text-align            : right;
}

/* 表：比率項目表示(背景色：緑) */
table.body_table tr td.body_hiritu_m, table.body_table2 tr td.body_hiritu_m{
  background-color      : #C0FFC0;
  color                 : red;
  text-align            : right;
}
table.body_table2 tr.non_top_border td {
	border-top-width : 1px;
}
table.body_table2 tr td.putInnerTable, table.body_table2 tr th.putInnerTable {
	padding:0px;
}
table.body_table2 tr td.putInnerTable table.body_table2, table.body_table2 tr th.putInnerTable table.body_table2 {
	width        :100%;
	border-right-width :0px;
	border-top-width :0px;
	border-left-width :1px;
	border-bottom-width :1px;
	margin-left:-1px;
	margin-top:-1px;
	margin-right:-1px;
	margin-bottom:-1px;
	border-spacing:0px;
}
table.body_table2 tr td.putInnerTable table.body_table2 tr td, table.body_table2 tr th.putInnerTable table.body_table2 tr th{
	border-right-width :1px;
}
table.body_table2 tr td.putInnerTable table.body_table2 tr td.putInnerTable1, table.body_table2 tr th.putInnerTable1 table.body_table2 tr th.putInnerTable1{
	border-right-width :0px;
}
/* スクロール画面表示 */
.scroll_area {
	overflow			   : auto;
}
/* レイアウトでは不可視(目には見えません)
 * 100%幅のスクロール画面のタイトル部に設置
 * 設置を行わないとタイトル部とデータ部のセル幅が合わなくなる可能性があります。 */
.scroll_standby {
	width:100%;
	overflow-y:hidden;
	overflow-x:hidden;
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color : #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
	margin-bottom:-9px;
}
.scroll_hidden{
    width:100%;
	overflow-y:hidden;
	overflow-x:hidden;

}

.scroll_padding_head{
    padding-right:17px;
}
.scroll_padding_data{
    padding-right:17px;
}

.group_sr{
	width:100%;height:32px;
}
.campnipo_sibu{

}
.height_posref{
	margin-top:5px;
}
.margin_top_net{
	margin-top:30px;
}
/*
 * 100%幅のスクロール画面
 *
 * このクラスを宣言したdivに高さの指定をせず、
 * js/bird.jsのloadScroll(divId, maxHeight)をonLoad時に呼び出すと、
 * 高さ上限値以上の場合のみスクロールが有効になります。
 * それ以外は無効で表示されます。
 */
.scroll_complete, .scroll_area_100 {
	width:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}
.element_print {
    display:none;
}
/* 選択されたタブの表示設定 */
.visible_tab {
	display			   : inline;
}
/* 選択されていないタブの表示設定 */
.invisible_tab {
	display			   : none;
}

/* geckoに追加する########################################################################### */
/* divのposition */
.div_position_gecko {
	position:absolute;
	left:0px;
	z-index:0;
	width:370px;
}
/* ポータルトップ画面　用 */
.portal_table_style{
	width:100.65%;
	margin-left:-2px;"
}
.ifram_style_Schedule,.ifram_style_Osirase {
	margin-top:-3px;
}
/* navigation */
table.body_navi_table td{
   width                 : 30px;
   text-align            : center;
   padding-bottom        : 3px;
}
/* 共通「オーナー」対応 */
.oner_name{
	width:265px;
}
/* 共通「SV検索、オーナー選択」対応 */
.sv_name{
	width:232px;
}
/* フォントのサイズを指定 */
.font_size_11_5{
	font-size:11.5px;
}
/* buttomのmargin-left */
.buttom_margin_left{
	margin-left: 2px;
}

.input_width_miseCnt{
	width:40px;
}
.input_width_menu {
  width:50px;
}
.input_width_menuDispMoji{
	width:200px;
}
.center_text{
    text-align:center;
}
.center_table{
    margin:0 auto;
    text-align: center;
}

/* ScrollBar ブランク */
.margin_bottom_hidden {
	margin-bottom:0px;
}
.margin_bottom_1 {
	margin-bottom:-1px;
}
.margin_bottom_3 {
	margin-bottom:-3px;
}
.margin_bottom_4 {

}
.margin_bottom_5 {
	margin-bottom:-5px;
}
.margin_bottom_6 {

}
.margin_bottom_8 {

}
.margin_bottom_10 {
	margin-bottom:-10px;
}
.margin_bottom_28 {
	margin-bottom:-28px;
}
/* ScrollBarのtop-height */
.margin_top_5 {
	margin-top:5px;
}
.margin_top_8 {
	margin-top:8px;
}
/* 以下の項目はwidthList */
.width_30{
	width:30px
}
.width_35{
	width:35px;
}
.width_38{
	width:38px;
}
.width_42{ /* size 6 */
	width:42px;
}
.width_50{
	width:50px;
}
.width_62{ /* size 10 */
	width:62px;
}
.width_68_f{
	width:62px;
}
.width_72{
	width:72px;
}
.width_78{ /* size 13 */
	width:78px;
}
.width_85{
	width:85px;
}
.width_85_f{
	width:85px;
}
.width_86{ /* size 15 */
	width:86px;
}
.width_90{
	width:90px;
}
.width_92{ /* size 16 */
	width:92px;
}
.width_95{
	width:95px;
}
.width_100{
	width:100px;
}
.width_110{ /* size 20 */
	width:110px;
}
.width_120{
	width:120px;
}
.width_129{
	width:129px;
}
.width_130{
	width:130px;
}
.width_136{ /* size 25 */
	width:136px;
}
.width_140{
	width:140px;
}
.width_150{
	width:150px;
}
.width_157_f{
	width:157px;
}
.width_159{
	width:159px;
}
.width_162{
	width:162px;
}
.width_170{
	width:170px;
}
.width_180{
	width:180px;
}
.width_185{ /* size 35 */
	width:185px;
}
.width_190{
	width:190px;
}
.width_210{
	width:210px
}
.width_230{
	width:230px;
}
.width_235{
	width:235px;
}
.width_242{ /* size 46 */
	width:242px;
}
.width_245{
	width:245px;
}
.width_255{
	width:255px;
}
.width_262{ /* size 50 */
	width:262px;
}
.width_280{
	width:280px;
}
.width_285{
	width:285px;
}
.width_300{
	width:300px;
}
.width_310{ /* size 60 */
	width:310px;
}
.width_329{
	width:329px;
}
.width_350{
	width:350px;
}
.width_362{ /* size 70 */
	width:362px;
}
.width_410{
	width:410px;
}
.width_450{
	width:450px;
}
.width_460{
	width:460px;
}
.width_480{
	width:480px;
}
.width_530{
	width:530px;
}
.width_560{
	width:560px;
}
.width_570{
	width:570px;
}
.width_590{
	width:590px;
}
.width_640{
	width:640px;
}
.width_650{
	width:650px;
}
.width_662{ /* size 130 */
	width:662px;
}
.width_680{
	width:680px;
}
.width_690{
	width:690px;
}
.width_730{
	width:730px;
}
.width_760{ /* size 150 */
	width:760px;
}
.width_percent_97_00{
	width:97.00%;
}
.width_percent_98_40{
	width:98.40%;
}
.width_percent_98_65{
	width:98.65%;
}
/* 以上の項目はwidthList */

/* 以下の項目はheightList */
input.height_15{
	height:15px;
}
.height_14{
	height:14px;
}
.height_21{
	height:21px;
}
.height_45{
	height:45px;
}
/* 以上の項目はheightList */
/* geckoに追加する########################################################################### */
.download{
	width:500px;
	height: 22px;
 }
.clear_float{
	clear:both;
 }
.button_height{
	height: 22px;
 }

/* 2016/10/12 firefox layout 対応 copy from source */
.dwnldBt_report {
}

.dwnldBt_lastMonthreport {
}
.height_portal{
	height:10px;
}
.width_percent_99_75{
    width:99.75%;
}
.width_percent_98_4{
   width:98.4%;
}

/* 2016/11/15 Z3_支部平均比較画面において表示対象（店コード）欄長い対応*/
.width_honbuMiseCd{
	width:60px;
}

/* 2016/12/01 項番61対応*/
.check_height{
	height:15px;
}

/* 2016/11/29 項番Z11_追加_タブ対応*/
.select_border-top {
  border-top:outset 3px #535353;
}
/* 2016/12/09 項番25geckoのラジオを中央揃え設定(マスターライセンス保持者店舗別一覧) ADD*/
.radio_center_set{
	height:20px;
	line-height:20px;
}
/* 2016/12/09 firefox 線がなし対応 ADD START */
table.body_table tr.header_row th,table.body_table2.header_row tr th {
	border-bottom-width:1px;
}
table.body_table tr.non_top_border td,table.body_table2 tr.non_top_border td {
	border-top-width:0px;
	border-bottom-width:1px;
}
/*######### 2016/12/09 END####################*/
/*----------------------2016/12/13 不具合対応 ADD START --------------------*/
/*ch_05_ボタンが収まらない*/
.mlentryselect_col_width{
	width:60px;
}
/*fi_08_空白がない fi_12*/
.scroll_standby_margin_bottom{
	margin-bottom:0px;
}
/*fi_10_レイアウト収まっていない*/
.mlentryselect_col_width1{
	width:105px;
}
/* fi_14*/
.divManeTableLeft {
	float:left;
	padding:0px;
}

.divManeTable {
	float:right;
	border-left:1px solid #808080;
	border-right:2px solid #808080;
	margin:-1px -2px -1px 0px;
	padding:2px 7px 2px 7px;
}
.td_line_width {
}

.body_table2_hosoku{
	padding:1px 1px 0px 0px !important;
	margin:-1px -1px -1px -1px !important;
	border-bottom-width:0px !important;
}
/*----------------------2016/12/13 不具合対応 ADD END-----------------------*/
