<html xmlns:m="http://www.seasar.org/maya">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-31j" />
<meta http-equiv="Content-Style-Type" content="text/css">
</head>
<body>
<span m:inject="s:insert">
<script type="text/javascript" src="#{request.contextPath}/js/menubar.js?#{headerDto.loginTime}"></script>
<script type="text/javascript">
<!--
function logout(){
	document.menubarForm.elements['menubarForm:__link_clicked__'].value='menubarForm:actionLogout';
	document.menubarForm.target ="_self";
	document.menubarForm.submit();
}
-->
</script>
<STYLE type="text/css">
<!--
table.menu_pulldown tr {
  line-height : bold;
}
-->
</STYLE>
<form m:id="menubarForm" style="width:100%;">
<input type="hidden" m:id="menuDispPtn" m:value="#{pullDownMenuDto.menuDispPtn}"/>
<a m:id="actionLogout" m:action="#{menuAction.logout}"/>
<input type="hidden" m:id="logoutMsg" m:value="#{logoutMsg}" />

<!-- ■■■■ カテゴリ選択テーブル ■■■■ -->
<table class="title">
  <tr>
  	<td m:width="#{birdUserInfo.pmossles==false?'243px':''}"><img m:inject="h:graphicImage" width="241px"
  	         m:url="/images/bird_#{birdUserInfo.emosslesAppId}.gif"/></td>
    <td m:rendered="#{birdUserInfo.pmossles==false}" rowspan="2">
      <table class="menu_pulldown" m:id="referenceMenu"
             style="display:#{pullDownMenuDto.menuDispPtn ? 'none;' : 'block;'}" >
        <tr>
          <span m:inject="s:forEach" m:items="#{pullDownMenuDto.menu1st}" m:var="e" m:varIndex="i">
              <th class="#{e.cssClassName}"
                  onMouseOver="menuOver(this, '#{e.viewId}');"
                  onMouseOut="menuOut(this, '#{e.viewId}');"
                  onClick="menuClick(#{i}, this, '#{e.viewId}');">
                <span m:style="#{e.subMenuNameByteLength<=15?'font-size:smaller;':'font-size:8pt;'}"
                      m:value="#{e.subMenuName}" /></th>
          </span>
        </tr>
        <tr>
          <span m:inject="s:forEach" m:items="#{pullDownMenuDto.menu2nd}" m:var="e" m:varIndex="i">
              <th class="#{e.cssClassName}"
                  onMouseOver="menuOver(this, '#{e.viewId}');"
                  onMouseOut="menuOut(this, '#{e.viewId}');"
                  onClick="menuClick(#{i}, this, '#{e.viewId}');">
                <span m:style="#{e.subMenuNameByteLength<=15?'font-size:smaller;':'font-size:8pt;'}"
                      m:value="#{e.subMenuName}" /></th>
          </span>
        </tr>
      </table>
      <table class="regist_menu_pulldown" m:id="registMenu"
             style="display:#{pullDownMenuDto.menuDispPtn ? 'block;' : 'none;'}">
        <tr>
          <span m:inject="s:forEach" m:items="#{pullDownMenuDto.registMenu1st}" m:var="e" m:varIndex="i">
              <th class="#{e.cssClassName}"
                  onMouseOver="menuOver(this, '#{e.viewId}');"
                  onMouseOut="menuOut(this, '#{e.viewId}');"
                  onClick="menuClick(#{i}, this, '#{e.viewId}');">
                <span m:converter="#{characterEncodingConverter}" m:style="#{e.subMenuNameByteLength<=15?'font-size:smaller;':'font-size:8pt;'}" m:value="#{e.subMenuName}" /></th>
          </span>
        </tr>
        <tr>
          <span m:inject="s:forEach" m:items="#{pullDownMenuDto.registMenu2nd}" m:var="e" m:varIndex="i">
              <th class="#{e.cssClassName}"
                  onMouseOver="menuOver(this, '#{e.viewId}');"
                  onMouseOut="menuOut(this, '#{e.viewId}');"
                  onClick="menuClick(#{i}, this, '#{e.viewId}');">
                <span m:converter="#{characterEncodingConverter}" m:style="#{e.subMenuNameByteLength<=15?'font-size:smaller;':'font-size:8pt;'}" m:value="#{e.subMenuName}" /></th>
          </span>
        </tr>
      </table>

    </td>
    <th m:rendered="#{birdUserInfo.pmossles==false}"
        style="white-space: nowrap;font-size:11pt;">
	    <span style="float:left;display:inline;">
	        <a href="#" onclick="logout();" style="font-weight:normal;">ログアウト</a></span>
	</th>
  </tr>
  <tr m:rendered="#{birdUserInfo.pmossles==false}">
	<th>
	    <span style="float:right;clear:both;">
			<a m:action="#{menuAction.selectMenu}" m:rendered="#{pullDownMenuDto.menuDispFlg}">
				<span m:inject="f:param" m:name="showViewId" m:value="BPO001V01" />
				<span m:inject="f:param" m:name="initViewId" m:value="BPO001V01" />
				<span m:inject="f:param" m:name="selectedViewId" m:value="BPO001" />
				HOMEへ</a></span></th>
    <td style="vertical-align:middle;white-space: nowrap;">
      <a href="#" onclick="menuChange();return false;" m:rendered="#{pullDownMenuDto.existRegitMenu && pullDownMenuDto.menuDispFlg}">
          <span m:id="linkToRegit" m:style="#{pullDownMenuDto.menuDispPtn ? 'display:none;' : 'display:inline;'}">&gt;&gt;登録系</span>
          <span m:id="linkToRefference" m:style="#{pullDownMenuDto.menuDispPtn ? 'display:inline;' : 'display:none;'}">&gt;&gt;照会系</span>
      </a></td>
  </tr>
</table>
</form>
</span>
</body>
</html>
