
/* サイト共通　基本設定情報 */
html, body {
  font-size				:medium;
  color					:#000000;
  background-color		:#FFFFFF; 
  background-image		:url(image/MainImage.gif);
  background-repeat		:no-repeat;
  background-position	:bottom right;
  background-attachment	:fixed;
}

/* サイト共通　基本設定情報（リンク） 
   CSSで定義されている色名は以下の16種類のみ

　　[black]  [silver] [gray]   [white]
　　[maroon] [red]    [purple] [fuchsia]
　　[green]  [lime]   [olive]  [yellow]
　　[navy]   [blue]   [teal]   [aqua]
*/
A{
  text-decoration : underline;
	background-color:maroon ;
}
A:link{
  color				:Blue;
}
A:visited{
  color				:Olive;
  text-decoration	:none;
}
A:active{
  color				:DeepPink;
  background-color	:Moccasin;
}
A:hover{
  color				:GreenYellow;
  background-color	:Pink;
}

/* --------------サイト共通(タイトル)-------------- */
/* 一覧・結果画面用 */
table.title{
  width					:500;
  height				:50;
  text-align			:center;
  vertical-align		:middle;
  background-color		:#C0C0FF;
  color					:#000088;
  font-size				:x-large;
  font-style			:italic;

  padding				:0px;
  border-spacing		:0px;
  border-width			:5px;
  border-style			:outset;
}
/* --------------サイト共通(タイトル)-------------- */
input.cancel{
  font-size   : 30px;
  font-family : 'ＭＳ ゴシック',monospace;
  color		  :#1AFFA3;
  text-align      :left;
  width					:400;
  height				:200;
  background-image		:url(image/dotmint.gif);
}

h1{
  font-family : 'ＭＳ ゴシック',monospace;
  font-style			:italic;
  color:purple;
  background:#CCCCFF;

}
