/* ナビエリアの設定 */
table.navi{
  background-color   : #FFEFD5;
}
/* ナビエリア2の設定 */
table.navi2{
  background-color      : #FFEE99;
  color                 : black;
}

/* ナビエリア見出しの設定 */
.navi_caption{
  color                 : white;
  font-size				: medium;
  background-color      : #8B4513;
  text-align            : left;
}

/* ナビエリア2フィールド2のリンク文字設定 */
.navi2_field2 a{
  color                 : black;
  font-weight           : normal;
}

/* ナビエリアタイトルの設定 */
.navi_title{
  width					: 100%;
  color					: white;
  background-color		: #8B4513;
  text-align			: left;
}

/* ナビエリア項目ヘッダの設定 */
.navi_header{
  color                 : white;
  background-color      : #48D1CC;
  text-align            : center;
}

/* ナビエリア2項目ヘッダの設定 */
.navi2_header{
  height		        : 20px;
  background-color      : #8B4513;
  color                 : white;
}

/* ナビエリア選択(アクティブ)の設定 */
.navi_active_cell{
  background-color      : #8B4513;
}
/* ナビエリア非選択(非アクティブ)の設定 */
.navi_non_active_cell{
  color                 : #8B4513;
}

/* リンクの設定（非アクティブ） */
a.navi_non_selected_link{
  text-decoration       : none;
  color                 : #8B4513;
}