/* ナビエリアフィールドの設定 */
.navi_field{
  background-color      : #FFFFCC;
}

/* ナビエリア2フィールドの設定 */
.navi2_field{
  height				: 15px;
  color                 : white;
}

/* ナビエリア2フィールド2の設定 */
.navi2_field2{
  background-color      : #FFFFCC;
}

/* ナビエリア2フィールド2のリンク文字設定（マウスオーバー時） */
.navi2_field2 a:hover{
  color                 : red;
  font-weight           : normal;
}

/* ナビエリア2の上詰め設定 */
.navi2_base{
  vertical-align		: top;
}

/* フィールドテーブルの設定 */
table.navi_table_field{
  border-style          : solid;
  border-width          : 2px;
  border-top-width      : 0px;
  border-collapse       : collapse;
  background-color      : #FFFFCC;
}

/* テーブル枠の設定 */
table.navi_table{
  border-style          : solid;
  border-width          : 2px;
  border-collapse       : collapse;
}
/* ナビエリアの設定 */
table.navi{
  border-style          : solid;
  border-width          : 2px;
  border-collapse       : collapse;
  text-align			   : left;
  background-color      : #EEFFFF;
}
/* ナビエリア2の設定 */
table.navi2{
  width                 : 150px;
  border                : solid 2px #c0c0c0;
  text-align			   : left;
  background-color      : #C0E0F0;
  font-weight           : bold;
}

/* 選択(アクティブ)の設定 */
.navi_active_cell{
  color                 : white;
  background-color      : #66CDAA;
  text-align            : center;
  border-top            : outset 3px #dcdcdc;
  border-right          : outset 3px #c0c0c0;
  text-decoration       : none;
  font-weight           : bold;
  padding-top           : 2px;
}

/* 非選択(非アクティブ)の設定 */
.navi_non_active_cell{
  color                 : #000000;
  background-color      : #C0C0C0;
  text-align            : center;
  border-top            : solid 3px #dcdcdc;
  border-right          : solid 3px #808080;
  text-decoration       : none;
  font-weight           : bold;
  padding-top            : 2px;
}

/* ナビエリア見出しの設定 */
.navi_caption{
  color                 : white;
  font-size			   : medium;
  background-color      : #000080;
  text-align            : left;
}

/* リンクの設定(アクティブ) */
a.navi_selected_link{
  text-decoration       : none;
  color                 : white;
}
/* リンクの設定 */
a.navi_link1{
  color                 : white;
}
