/* スクロールバー用の設定 */
.scroll_area, .scroll_area_100, .scroll_complete, .scroll_hidden, .scroll_standby{
		overflow  : visible;
		display   :inline;
		height:	  auto;
}
/* 選択されていないタブの設定 */
.invisible_tab {
	display	: block;
}
.element_print {
    display:block;
}
.element_browser, td.naviarea {
    display:none;
}
