/* ボディタイトルの設定 */
.body_title{
  width					: 100%;
  font-size			: medium;
  color					: white;
  background-color	: #48D1CC;
  text-align			: left;
}

/* ボディエラーメッセージの設定 */
.body_error_massage{
  color					: red;
  font-weight           : 100;
}

/* 見出しの設定 */
.body_caption{
  color                 : white;
  background-color      : #48D1CC;
  text-align            : left;
}
/* 見出しの設定 */
.body_caption1, table.body_table2 tr.body_caption1 td{
  color              : white;
  background-color   : #66CDAA;
  font-weight        : bold;
  border-width       : 1px 0px;
}
caption {
	padding:1px 0px;
}
/* フィールドの設定 */
.body_field{
  background-color      : #FFFFCC;
}
/* テーブルの設定
 * IEの場合border-spacingは使えないので
 * 代わりにborder-collapse:collapse; を指定し
 * tdにはpadding : 0; を指定します。
 */
table.hiddenBody{
  border-style          : solid;
  border-width          : 0px;
  border-collapse       : collapse;
  border-spacing        : 0px;
  padding               : 0;
}
/* テーブルの設定 */
table.hiddenBody tr{
  border-collapse       : collapse;
  border-spacing        : 0px;
  border-width          : 0px;
  padding               : 0;
}
/* テーブルの設定
 * IEの場合border-spacingは使えないので
 * padding : 0; を指定します。
 */
table.hiddenBody tr th {
  padding               : 0;
  border-spacing        : 0px;
  border                : 0px solid #808080;
}
/* テーブルの設定
 * IEの場合border-spacingは使えないので
 * padding : 0; を指定します。
 */
table.hiddenBody tr td {
  padding               : 0;
  border-spacing        : 0px;
  border                : 0px solid #808080;
}


/* フィールドテーブルの設定 */
table.body_table_field{
  width                 : 97%;
  border-style          : solid;
  border-width          : 2px;
  border-top-width      : 0px;
  border-collapse       : collapse;
  background-color      : #FFFFCC;
}
/* テーブル枠の設定 */
/* ★★★統合予定★★★ */
table.body_table, table.body_table1, table.body_table2{
  border-style          : solid;
  border-width          : 2px;
  border-collapse       : collapse;
  border-color          : #808080 #808080 #808080 #808080;
}

/* テーブルヘッダデフォルト設定 パターン１*/
table.body_table tr th, table.body_table tr td, table.body_table2 tr th, table.body_table2 tr td{
  border                : 1px solid #808080;
  padding               : 1px;
}
/* テーブルヘッダデフォルト設定 パターン１*/
table.body_table tr th{
  color                 : white;
  background-color      : #66CDAA;
  text-align            : left;
}
table.body_table_spe_hyoji {
	background-color: white;
	text-align: left;
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-collapse: collapse;
	border-color: #808080 #808080 #808080 #808080;
}

tr.spe_hyoji {
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: #808080 #808080 #808080 #808080;
}

td.spe_hyoji_t {
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: #808080 #808080 #808080 #808080;
	border-right-width: 1px;
}
table.torihiki_table{
  border-style: solid;
  border-width          : 2px;
  border-bottom-width   :0px;
  border-collapse       : collapse;
  border-color          : #808080;
}
table.torihiki_table th{
  color                 : white;
  background-color      : #0000C0;
  text-align            : left;
  border-width           : 1px;
  border-style          : solid;
  border-color          : #808080;
  border-bottom-width   :0px;
}
table.torihiki_table tr{
  background-color      : #C0E0FF;
  border-width          : 1px;
  border-style          : solid;
  border-color          :#808080;
  border-bottom-width   :0px;

}
table.torihiki_table td{
  background-color      : #FFFFCC;
  border-width          : 1px;
  border-style          : solid;
  border-color          :#808080;
  border-bottom-width   :0px;
}
table.this_table{
  border-style          : solid;
  border-width          : 2px;
  border-collapse       : collapse;
  border-color          : #808080 #808080 #808080 #808080;
}
table.this_table tr th{
  color                 : navy;
  background-color      : #C0E0FF;
  text-align            : center;
  border                : 1px solid;
  border-color          : #808080
}
table.this_table tr td{
  background-color      : #FFFFCC;
  border                : 1px solid;
  border-color          : #808080
}
/* テーブル枠の設定 */
/* ★★★統合予定★★★ */
table.entry_table{
  width				    : 100%;
  border-style          : solid;
  border-width          : 2px;
  border-collapse       : collapse;
  border-color          : #808080 #808080 #808080 #808080;
  margin-top:3px;
  margin-bottom:4px;

}
table.entry_table tr th {
  color                 : navy;
  background-color      : #C0E0FF;
  text-align            : center;
  border-style          : solid;
  border-width          : 1px ;
  border-color          : #808080;
}
/* テーブルフィールドデフォルト設定 */
/* ★★★統合予定★★★ */
table.entry_table tr td{
  background-color      : #FFFFCC;
  border-style          : solid;
  border-width          : 1px ;
  border-color          : #808080;

}
/* テーブル枠の設定 */
/* ★★★統合予定★★★ */
table.mine_table{
  border-style          : solid;
  border-width          : 2px;
  border-collapse       : collapse;
  border-color          : #808080 #808080 #808080 #808080;
}
table.mine_table tr th {
  color                 : navy;
  background-color      : #C0E0FF;
  text-align            : center;
  border-style       : solid;
  border-width          : 1px ;
  border-color          : #808080;
}
/* テーブルフィールドデフォルト設定 */
/* ★★★統合予定★★★ */
table.mine_table tr td{
  background-color      : #FFFFCC;
  border-style       : solid;
  border-width          : 1px ;
  border-color          : #808080;
}

table.data_table {
	font-size: small;
	border-style: solid;
	border-width: 2px;
	border-collapse: collapse;
	border-color: #808080 #808080 #808080 #808080;
}

table.data_table tr td {
	border: 1px solid #808080;
	vertical-align: middle;
}

.button_in_table{
	margin-left:3px;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
}
table.body_table2 tr td.border_topandbottom_width {
	border-bottom-width:2px;
}
/* テーブルヘッダデフォルト設定 パターン２*/
/* ★★★統合予定★★★ */
table.body_table2 tr th , table.body_table tr th.body_header3{
  color                 : #483D8B;
  background-color      : #AFEEEE;
  text-align            : left;
}
/* テーブルフィールドデフォルト設定 */
/* ★★★統合予定★★★ */
table.body_table tr td, table.body_table2 tr td{
  background-color      : #FFFFCC;
}


/* 水平方向ヘッダ追加設定 */
table tr.header_row th {
	text-align			: center;
}

/* リンクの設定 */
a.body_selected_link{
  text-decoration       : none;
  font-weight           : bold;
  color                 : white;
}

/* リンクの設定 */
a.body_link1{
  color                 : white;
}
/* 選択(アクティブ)の設定 */
.body_active_cell{
  color                 : white;
  background-color      : #66CDAA;
  text-align            : center;
  border-top            : outset 3px #dcdcdc;
  border-right          : outset 3px #c0c0c0;
  text-decoration       : none;
  font-weight           : bold;
  padding-top           : 2px;
}

/* 非選択(非アクティブ)の設定 */
.body_non_active_cell{
  color                 : #000000;
  background-color      : #C0C0C0;
  text-align            : center;
  border-top            : solid 3px #dcdcdc;
  border-right          : solid 3px #808080;
  text-decoration       : none;
  font-weight           : bold;
  padding-top            : 2px;
}

/* タブ非選択(非アクティブ)の設定 */
.body_non_active_tab{
  color						: black;
  background-color		: #C0C0C0;
  text-align				: center;
  border-top            : solid 3px #dcdcdc;
  border-right          : solid 3px #808080;
  text-decoration			: none;
  font-weight				: bold;
  padding-top            : 2px;

}
/* タブ選択(アクティブ)の設定 */
.body_active_tab{
  color						: white;
  background-color		: #48D1CC;
  text-align				: center;
  border-width				: 3px;
  border-top            : outset 3px #dcdcdc;
  border-right          : outset 3px #c0c0c0;
  text-decoration			: none;
  font-weight				: bold;
  padding-top            : 2px;
}
/* タブ非選択(非アクティブ)の設定 */
.body_active_cell a, .body_active_tab a{
  color						: #FFFFFF;
  text-decoration			: none;
}
.body_non_active_cell a{
  color						: black;
  text-decoration			: none;
}
/* タブ非選択(非アクティブ)の設定 */
.body_non_active_tab a{
  color						: black;
  text-decoration			: none;
}
/* ulを使用したタブエリア */
.list_tab_area {
    width               : 100%;
    margin              : 0px;
    padding             : 0px;
}
/* ulを使用したタブ */
li.body_active_cell, li.body_non_active_cell, li.body_active_tab, li.body_non_active_tab {
    list-style-type     : none;
	float:left;
}

/* 表：合計欄表示（タイプ１） */
.body_sum1, table tr.body_sum1 td{
  background-color      : #FFD2E9;
}

/* 表：合計欄表示（タイプ２） */
.body_sum2, table tr.body_sum2 td{
  background-color      : #C0C0FF;
}

/* 表：合計欄表示（タイプ３） */
.body_sum3, table tr.body_sum3 td{
  background-color      : #C0FFFF;
}

/* 表：合計欄表示（タイプ４） */
.body_sum4, table tr.body_sum4 td{
  background-color      : #CCFF99;
}

/* 表：合計欄表示（タイプ５） */
.body_sum5, table tr.body_sum5 td{
  background-color      : #FFC0A0;
}

/* 表：数値項目表示 */
.body_num{
  text-align            : right;
  vertical-align        : middle;
}

/* 表：比率項目表示 */
.body_hiritu{
  color                 : red;
  text-align            : right;
  vertical-align        : middle;
}

/* 表：数値項目表示(背景色：緑) */
table.body_table tr td.body_num_n, table.body_table2 tr td.body_num_n{
  background-color      : #C0FFC0;
  color                 : black;
  text-align            : right;
}

/* 表：比率項目表示(背景色：緑) */
table.body_table tr td.body_hiritu_m, table.body_table2 tr td.body_hiritu_m{
  background-color      : #C0FFC0;
  color                 : red;
  text-align            : right;
}
table.body_table2 tr.non_top_border th, table.body_table2 tr.non_top_border td {
	border-top-width : 0px;
}
table.body_table tr.non_top_border th, table.body_table tr.non_top_border td {
    border-top-width:0px;
}

table.body_table2 tr td.putInnerTable table.body_table2, table.body_table2 tr th.putInnerTable table.body_table2 {
	width        :100%;
	border-width :0px;
	margin       :-2px -2px -1px -2px;
	border-spacing:0px;
}
table.body_table2 tr td.putInnerTable table.body_table2 tr td, table.body_table2 tr th.putInnerTable table.body_table2 tr th{
	border-right-width :0px;
}

/* スクロール画面表示 */
.scroll_area {
	overflow			   : auto;
}
/* レイアウトでは不可視(目には見えません)
 * 100%幅のスクロール画面のタイトル部に設置
 * 設置を行わないとタイトル部とデータ部のセル幅が合わなくなる可能性があります。 */
.scroll_hidden, .scroll_standby {
	width:100%;
	overflow-y:hidden;
	overflow-x:hidden;
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color : #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;

}

.scroll_padding_head{
    padding-right:15px;
}
.scroll_padding_data{
    padding-right:15px;
}

/*
 * 100%幅のスクロール画面
 *
 * このクラスを宣言したdivに高さの指定をせず、
 * js/bird.jsのloadScroll(divId, maxHeight)をonLoad時に呼び出すと、
 * 高さ上限値以上の場合のみスクロールが有効になります。
 * それ以外は無効で表示されます。
 */
.scroll_complete, .scroll_area_100 {
	width:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}
.element_print {
    display:none;
}
/* 選択されたタブの表示設定 */
.visible_tab {
	display			   : inline;
}
/* 選択されていないタブの表示設定 */
.invisible_tab {
	display			   : none;
}

/* webkitに追加する########################################################################### */
/* divのposition */
.div_position_webkit {
	position:absolute;
	left:0px;
	z-index:0;
}
/* ポータルトップ画面　用 */
.portal_table_style{
	width:100.65%;
	margin-left:-2px;
}
.ifram_style_Schedule,.ifram_style_Osirase {
	margin-top:-4px;
}
/* navigation */
table.body_navi_table td{
   width                 : 30px;
   text-align            : center;
   padding-bottom        : 3px;
}
/* 共通「オーナー」対応 */
.oner_name{
	width:265px;
}
/* 共通「SV検索、オーナー選択」対応 */
.sv_name{
	width:232px;
}
/* フォントのサイズを指定 */
.font_size_11_5{
	font-size:11.5px;
}
/* table ブランク */
.table_margin_bottom {
	margin-bottom:-1px;
}
.margin_bottom_1 {
	margin-bottom:-1px;
}
.input_width_miseCnt{
	width:40px;
}
.input_width_menu {
  width:50px;
}
.input_width_menuDispMoji{
	width:200px;
}
.center_table{
    margin:0 auto;
    text-align: center;
}
.text_align{
  text-align            : center;
}
/* 以下の項目はwidthList */
.width_30{
	width:30px;
}
.width_35{
	width:35px;
}
.width_38{
	width:38px;
}
.width_42{ /* size 6 */
	width:42px;
}
.width_50{
	width:50px;
}
.width_62{ /* size 10 */
	width:62px;
}
.width_72{
	width:72px;
}
.width_78{ /* size 13 */
	width:78px;
}
.width_85{
	width:85px;
}
.width_86{ /* size 15 */
	width:86px;
}
.width_90{
	width:90px;
}
.width_92{ /* size 16 */
	width:92px;
}
.width_95{
	width:95px;
}
.width_100{
	width:100px;
}
.width_110{ /* size 20 */
	width:110px;
}
.width_120{
	width:120px;
}
.width_120_safari{
	width:120px;
}
.width_129{
	width:129px;
}
.width_130{
	width:130px;
}
.width_136{ /* size 25 */
	width:136px;
}
.width_140{
	width:140px;
}
.width_150{
	width:150px;
}
.width_156{
	width:156px;
}
.width_162{
	width:162px;
}
.width_170{
	width:170px;
}
.width_180{
	width:180px;
}
.width_185{ /* size 35 */
	width:185px;
}
.width_190{
	width:190px;
}
.width_210{
	width:210px;
}
.width_210_safari{
	width:210px;
}
.width_213_safari{
	width:213px;
}
.width_230{
	width:230px;
}
.width_235{
	width:235px;
}
.width_242{ /* size 46 */
	width:242px;
}
.width_245{
	width:245px;
}
.width_255{
	width:255px;
}
.width_262{ /* size 50 */
	width:262px;
}
.width_280{
	width:280px;
}
.width_285{
	width:285px;
}
.width_300{
	width:300px;
}
.width_310{ /* size 60 */
	width:310px;
}
.width_329{
	width:329px;
}
.width_350{
	width:350px;
}
.width_362{ /* size 70 */
	width:362px;
}
.width_410{
	width:410px;
}
.width_450{
	width:450px;
}
.width_460{
	width:460px;
}
.width_480{
	width:480px;
}
.width_530{
	width:530px;
}
.width_570{
	width:570px;
}
.width_580{
	width:580px;
}
.width_590{
	width:590px;
}
.width_600{
	width:600px;
}
.width_640{
	width:640px;
}
.width_650{
	width:650px;
}
.width_662{ /* size 130 */
	width:662px;
}
.width_680{
	width:680px;
}
.width_690{
	width:690px;
}
.width_730{
	width:730px;
}
.width_760{ /* size 150 */
	width:760px;
}
/* 以上の項目はwidthList */

/* 以下の項目はheightList */
.height_45{
	height:45px;
}
/* 以上の項目はheightList */
/* webkitに追加する########################################################################### */
/* safariに追加する####################################### */
/* FontSizeアリア */
.matrix_font{
	font-size:15px;
}
.font_size_10{
	font-size:10px;
}
.font_size_11{
	font-size:11px;
}
.font_size_12{
	font-size:12px;
}
.font_size_13{
	font-size:13px;
}
.font_size_14{
	font-size:14px;
}
.font_size_15{
	font-size:15px;
}


/* LineHeightアリア */
.line_height_14{
	line-height:14pt;
}
.line_height_17{
	line-height:17pt;
}


/* Widthアリア */
.width_45_s{
	width:45px;
}
.width_55_s{
	width:55px;
}
.width_88_s{
	width:88px;
}
th.width_88_s{
	width:88px;
}
.width_112_s{
	width:112px;
}
.width_115_s{
	width:115px;
}
.width_119_s{
	width:119px;
}
.width_136_s{
	width:136px;
}
.width_144_s{
	width:144px;
}
.width_190_s{
	width:190px;
}
.width_200_s{
	width:200px;
}
.width_203_s{
	width:203px;
}
.width_206_s{
	width:206px;
}
.width_245_s{
	width:245px;
}
.width_272_s{
	width:272px;
}
.width_790_s{
	width:790px;
}
.width_961_s{
	width:961px;
}
/* safariに追加する###################################### */
.download{
	width:500px;
	height: 22px;
 }
 /* 2016/10/12 firefox layout 対応 copy from source */
.dwnldBt_report {
	width: 175px;
}

.dwnldBt_lastMonthreport {
	width: 125px;
}
.clear_float{
    clear:both;
 }

 .style_height{
    height:10px;
 }

 /* 2016/11/15 Z3_支部平均比較画面において表示対象（店コード）欄長い対応*/
.width_honbuMiseCd{
	width:60px;
}

/* 2016/12/01 項番61対応*/
.check_height{
	height:17px;
}

/* 2016/11/29 項番Z11_追加_タブ対応*/
.select_border-top {
  border-top:outset 3px #535353;
}
/*----------------------2016/12/13 不具合対応 ADD START --------------------*/
/*ch_05_ボタンが収まらない*/
.mlentryselect_col_width{
	width:60px;
}
/*fi_10_レイアウト収まっていない*/
.mlentryselect_col_width1{
	width:100px;
}
/* fi_14*/
.divManeTableLeft {
	float:left;
	padding:0px;
}

.divManeTable {
	float:right;
	border-left:1px solid #808080;
	border-right:2px solid #808080;
	margin:-1px -2px -1px 0px;
	padding:2px 7px 2px 7px;
}
.td_line_width {
	border-bottom-width:2px !important;
}

.body_table2_hosoku{
	padding:1px 1px 0px 0px !important;
	margin:-2px -2px -2px -2px !important;
	border-bottom-width:0px !important;
}
/*----------------------2016/12/13 不具合対応 ADD END-----------------------*/
.letter_space_negtive{
	letter-spacing:-2px;
}